html, body {
    height: 100%; /* Make sure the HTML and body are full height */
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh; /* Make sure the body takes up 100% of the viewport */
}

.jumbotron {
    flex: 1; /* Allows jumbotron to expand and fill available space */
}

.navbar {
    min-height: 8vh; /* Set the navbar to take up 10% of the viewport height */
}

.navbar .nav-link {
    font-size: 1.4rem; /* Adjust the font size */
    padding: 0.5rem 1.25rem !important; /* Adjust top/bottom padding and left/right padding */
}

.navbar-brand {
    font-size: 1.5rem !important; /* Adjust the font size */
    padding: 0.5rem 0; /* Adjust top/bottom padding */
    padding-left: 1rem; /* Adjust left padding */
}

.grid-container {
    display: grid;
    height: 100vh; /* Make the grid container half the height of the viewport */
    grid-template-columns: repeat(4, 1fr); /* Divide into 4 equal columns */
    grid-template-rows: 1fr 1fr; /* Two rows, each half the height */
}

.sitePhotoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black; /* Just for visualization */
}

.photo, .gauge {
    grid-column: span 1; /* Each takes up 1 fraction of the horizontal space */
    grid-row: span 1; /* Each takes up 1 fraction of the vertical space */
}

.info {
    grid-column: span 2; /* Takes up 2 fractions of the space, filling the right half */
}

.line, .bar {
    grid-column: span 2; /* Each takes up half the width of the screen */
}

.chart-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 20px;
    margin: auto;
    flex-basis: 48%; /* Gives each container a base width, but allows for some flexibility */
    max-width: 48%; /* Prevents containers from growing beyond this width */
}

.date-picker-container {
    display: flex;
    justify-content: left; /* Center the date picker horizontally */
    margin-bottom: 20px; /* Add some space below the date picker */
}

.controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

.overview-flex-container {
    display: flex;
    justify-content: space-around; /* This will space out the child containers evenly */
    align-items: flex-start; /* Align items at the start of the flex container */
    flex-wrap: wrap; /* Allow items to wrap onto the next line if not enough space */
}

.chart-outer-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 20px;
    margin: auto;
    display: none; /* Initially hidden */
}

.map-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Use the viewport height to size the container */
    justify-content: space-between; /* This will place content at top and bottom of the container */
}

.map-info {
    text-align: center; /* Centers the text for smaller devices */
    padding: 10px;
}

.map-image-container {
    flex: 1; /* This allows the image container to fill the remaining space */
    display: flex;
    align-items: center; /* Centers the image vertically */
    justify-content: center; /* Centers the image horizontally */
    padding: 10px;
}

.img-fluid {
    max-width: 100%; /* Ensures the image is never wider than its container */
    max-height: 75vh; /* Limits the image height to 75% of the viewport height */
    object-fit: contain; /* Ensures the image maintains its aspect ratio without being cropped */
}

/* Hero Section */
.hero-section {
  background: url('Images/belize-aerial.png') no-repeat center center;
  background-size: cover;
  height: 92vh; /* Height of the viewport */
  display: flex;
  align-items: center; /* Vertically center the text */
  justify-content: center; /* Horizontally center the text */
  text-align: center;
  color: white; 
  position: relative;
  z-index: 2;
  
}

.hero-text {
  padding: 20px;
  border-radius: 5px;
}

.hero-section h1 {
  font-size: 5rem; /* Large font size for the main title */
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 0.5rem;
}

.hero-section p {
  font-size: 3rem; /* Large font size for the subtitle */
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 0;
}







