.grid-container {
    display: grid;
    height: 100vh; /* Make the grid container half the height of the viewport */
    grid-template-columns: repeat(4, 1fr); /* Divide into 4 equal columns */
    grid-template-rows: 1fr 1fr; /* Two rows, each half the height */
}

.sitePhotoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black; /* Just for visualization */
}

.photo, .gauge {
    grid-column: span 1; /* Each takes up 1 fraction of the space */
}

.info {
    grid-column: span 2; /* Takes up 2 fractions of the space, filling the right half */
}

.line, .bar {
    grid-column: span 2; /* Each takes up half the width of the screen */
}

.chart-container {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.date-picker-container {
    margin-bottom: 20px; /* Adjust as needed */
}
