html, body {
    height: 100%;  /* Make sure the entire HTML and body are full height */
    margin: 0;      /* Reset default margin */
    padding: 0;     /* Reset default padding */
    display: flex;
    flex-direction: column; /* Ensures everything is aligned vertically from top to bottom */
}

body {
    flex: 1;        /* Ensures body element takes up all available space pushing footer down */
    display: flex;
    flex-direction: column; /* Again, aligns child elements in a vertical column */
    min-height: 100vh; /* Minimum height of viewport to push footer to bottom on short pages */
    overflow-x: hidden; /* Prevents horizontal overflow */
}

.jumbotron {
    flex: 1; /* Allows jumbotron to expand and fill available space */
}

.navbar {
    min-height: 8vh;
    position: sticky !important; /* or use 'fixed' if you want it to be always at the top */
    top: 0;
    width: 100%;
    z-index: 1030;
}

/* Style for the active nav-link */
.navbar .nav-link.active {
    border-bottom: 3px solid white;
}

.navbar .nav-link {
    font-size: 1.4rem; /* Adjust the font size */
    padding: 0.5rem 1.25rem !important; /* Adjust top/bottom padding and left/right padding */
}

.navbar-brand {
    font-size: 1.5rem !important; /* Adjust the font size */
    padding: 0.5rem 0; /* Adjust top/bottom padding */
    padding-left: 1rem; /* Adjust left padding */
}

.navbar-dark .navbar-nav .dropdown-menu a {
    color: white;
}

.navbar-dark .navbar-nav .dropdown-menu {
    background-color: #343a40; 
}

.navbar-dark .navbar-nav .dropdown-menu a:hover {
    background-color: #495057; /* Slightly lighter shade for hover */
}

/* Ensures that the collapsed navbar has a higher z-index */
.navbar-collapse.collapse.show {
	padding-top: 10px;
    z-index: 1050;
    background-color: #343a40; /* Dark background for visibility */
    border-radius: 15px;
}

/* Specificity for overriding default Bootstrap styles */
.navbar-dark .navbar-collapse .navbar-nav .nav-link {
    color: #ffffff; /* White text for visibility */
}

.navbar-dark .navbar-collapse .navbar-nav .nav-link:hover,
.navbar-dark .navbar-collapse .navbar-nav .nav-link:focus {
    color: #f8f9fa; /* Slightly lighter shade of white for hover/focus */
}

.navbar-dark .navbar-collapse .navbar-nav .dropdown-menu {
    background-color: #343a40; /* Dark background for the dropdown */
}

.sitePhotoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black; /* Just for visualization */
}

.photo, .gauge {
    grid-column: span 1; /* Each takes up 1 fraction of the horizontal space */
    grid-row: span 1; /* Each takes up 1 fraction of the vertical space */
}

.info {
    grid-column: span 2; /* Takes up 2 fractions of the space, filling the right half */
}

.line, .bar {
    grid-column: span 2; /* Each takes up half the width of the screen */
}

.chart-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 20px;
    margin: auto;
    flex-basis: 48%; /* Gives each container a base width, but allows for some flexibility */
    max-width: 48%; /* Prevents containers from growing beyond this width */
}

.overview-flex-container {
    display: flex;
    justify-content: space-around; /* This will space out the child containers evenly */
    align-items: flex-start; /* Align items at the start of the flex container */
    flex-wrap: wrap; /* Allow items to wrap onto the next line if not enough space */
}

.date-picker-container {
    display: flex;
    justify-content: left; /* Center the date picker horizontally */
    margin-bottom: 20px; /* Add some space below the date picker */
}

.controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

.chart-outer-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 20px;
    margin: auto;
}

.img-fluid {
    width: 85%; /* Ensures the image is as wide as its container */
    border-radius: 5px;
    object-fit: contain; /* Maintain aspect ratio without cropping */
}

/* Hero Section */
.hero-section {
  background: url('Images/belize-aerial.png') no-repeat center center;
  background-size: cover;
  height: 92vh; /* Height of the viewport */
  display: flex;
  align-items: center; /* Vertically center the text */
  justify-content: center; /* Horizontally center the text */
  text-align: center;
  color: white; 
  position: relative;
  z-index: 2;
  
}

.hero-text {
  padding: 20px;
  border-radius: 5px;
}

.hero-section h1 {
  font-size: 5rem; /* Large font size for the main title */
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 0.5rem;
}

.hero-section p {
  font-size: 3rem; /* Large font size for the subtitle */
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 0;
}


.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust based on your preference */
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  display: inline-block;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Divide into 4 equal columns for large screens */
    grid-template-rows: auto; /* Auto-size rows based on content */
    gap: 10px; /* Optional: adds space between grid items */
}

/* For tablets */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
    }

    .info, .line, .bar {
        grid-column: span 2; /* These items will take full width */
    }
}

/* For mobile phones */
@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr; /* 1 column for small screens */
    }

    .photo, .gauge, .info, .line, .bar {
        grid-column: 1 / -1; /* These items will take full width */
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #333;  // Change the background color to something that fits your theme better
    border-radius: 50%;
    width: 45px;  // Increase the size for better visibility
    height: 45px;
    padding: 10px;
    box-shadow: 0 0 10px #666;  // Optional: adds a subtle shadow for a sleek look
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #555;  // Slightly darker on hover for a tactile feel
}

.carousel-caption {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(20px);
    opacity: 0;
}

.carousel-item.active .carousel-caption {
    transform: translateY(0);
    opacity: 1;
}

.carousel-control-prev:focus,
.carousel-control-next:focus,
.carousel-indicators > button:focus {
    outline: 2px solid #aaa;  // Makes it easier to see which element is focused
    outline-offset: 2px;
}

.card {
    transition: all 0.3s ease-in-out;  /* Smooth transition for all card elements */
    cursor: pointer;  /* Indicates that the card is clickable */
    border: 1px solid #f8f9fa !important;
    background: linear-gradient(to right, #343a40, #495057);
}

.card:hover {
    transform: translateY(-5px);  /* Slightly raises the card */
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);  /* Adds a shadow for better 3D effect */
}

.card:hover .animate-icon {
    transform: scale(1.1);  /* Makes the icon 10% larger */
}

.animate-icon {
    transition: transform 0.3s ease-in-out;
}

.content-module {
	background-color: rgba(52, 58, 64, 0.85);
	border-style: solid;
  	border-color: #f8f9fa;
  	border-width: 1px;
  	transition: background-color 0.2s ease;
  	transition: background-image 0.2s ease;
  	transition: transform 0.2s ease-in-out;
}

.content-module:hover {
	background-image: radial-gradient(circle, rgba(27, 108, 27, 0.4) 0%, transparent 100%);
	background-color: rgba(52, 58, 64, 0.85);
	transform: scale(1.01);
}

.bg-mediumDark {
	background-color: rgba(52, 58, 64, 0.85);
}












